<!DOCTYPE html>
<html ng-app='ShoppingListDirectiveApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Directives with Isolate Scope and '&'</title>
  </head>
  <body>
    <h1>Directives with Isolate Scope and '&'</h1>

   
    <div id="list" ng-controller='ShoppingListController as list'>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <span>{{ list.lastRemoved }}</span>

      <shopping-list 
        id = "list1"
        items="list.items"
        title={{list.title}}
        
        on-remove="list.removeItem(index)">
        <span class='warning'> {{list.warning}}</span>
        
        </shopping-list>
        
         <shopping-list
        id= "list2"
        items="list.items"
        title="{{list.title}}"
        bad-remove="list.removeItem"
        on-remove="list.removeItem(index)"> {{list.title }} </shopping-list> 
       
    </div>

  </body>
</html>
